.dataForm {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

label{
    margin: 10px;
    text-align: center;
    justify-content: center;
}


.btnConfirm{
    margin-left: 55rem;
    margin-top: 2rem;
    text-align: center;
    height: 30px;
    width: 120px;
}