nav {
    display: flex;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    text-align: center;

}

.NavItems li {
    display: inline-block;
    padding: 15px;
}

.BtnCart {
    justify-content: end;
    margin-top: 0.5rem;
    margin-left: 44rem;
}

