.NavBar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 18px;
    text-decoration: none;
}

.titleEcommerce{
    color: #003566;
    text-decoration: none;
}

.NavItems{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.BtnCart {
    justify-content: end;
}

.Select {
    text-decoration: none;
    color: #003566;
    padding: 12px;
    flex: none;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: inherit;
}

.Selected {
    text-decoration: none;
    padding: 12px;
    background: #ffd60a;
    flex: none;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: inherit;
}

.jarwar {
    text-decoration: none;
}